* {
    padding: 0;
    margin: 0;
}


.footerContainer {
    color: black;
    font-weight: bold;
    background-image: linear-gradient(rgb(219, 213, 213), white);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footerTexto {
        width: 100%;
        font-size: 12px;

        .footerSocial {
            width: 100%;
            gap: 20px;
            font-size: x-large;
            text-align: center;
            margin-top: 10px;

        }
    }

}

@media (min-width: 768px) {

    .footerContainer {
        height: 60px;
        flex-direction: row;

          .footerTexto {
              width: 49%;
              align-self: center;
              font-size: 15px;
              margin-bottom: 10px;

                 .footerSocial {
                     width: 49%;
                     display: flex;
                     gap: 30px;
                     justify-content: flex-end;
                 }

          }

    }
 
}


@media (min-width: 1024px) {

    .footerContainer {
        height: 80px;
        display: flex;
        
          .footerTexto {

               .footerSocial {
                   gap: 20px;
                   font-size: x-large;
               }

          }

    }

}