* {
    padding: 0;
    margin: 0;
}


header {
    color: black;
    background-image: linear-gradient(grey, white);
    width: 100fx;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
        width: 100%;
        margin-top: 10px;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                list-style: none;

                &:hover {
                    color: white;
                    transform: scale (5);
                    transition-property: all;
                    transition-duration: 3s;
                }
            }
        }
    }
}

#logoHeader {
    width: 100%;
    text-align: center;
}


@media (min-width: 768px) {

    header {
        height: 120px;
        flex-direction: row;

        nav {
            width: 49%;

            ul {
                flex-direction: row;
                justify-content: space-around;

                li {
                    list-style: none;

                    &:hover {
                        color: white;
                        transform: scale (5);
                        transition-property: all;
                        transition-duration: 3s;
                    }
                }
            }

        }
    }

    #logoHeader {
        width: 49%;
    }
}




@media (min-width: 1024px) {

    header {

        nav {

            ul {

                justify-content: space-between;

                li {
                    list-style: none;

                    &:hover {
                        color: white;
                        transform: scale (5);
                        transition-property: all;
                        transition-duration: 3s;
                    }
                }
            }

        }
    }

    #logoHeader {
        width: 49%;
    }

}