/*MOBILE - SMARTPHONE*/

/* ------------------------ Generales ------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Poppins:wght@300&family=Raleway:wght@300&display=swap');


@import "variables";
@import "generales";
@import "navbar";
@import "footer";



/* ------------------------ Header ------------------------ */



#galeria {
    text-align: center;

    #imgDataMaison {
        width: 100%;
        height: auto;
        box-shadow: 4px 2px 3px black;
    }

}

#imgenCarta {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
}


/* ------------------------ Main ------------------------ */

#dataMaison {
    text-align: center;

}

#textImg {
    font-style: italic;
    font-size: 20px;
}

main {

    #menu {
        width: 60%;
        margin-top: 30px;
        border: 2px solid black;
        box-shadow: 4px 2px 3px grey;
    }

    #menuDeldia {
        color: black;
        font-weight: bold;
        margin-top: 20px;
    }

    #servicios {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;

        .imgExperiencias {
            text-align: center;
            font-family: 'Font Awesome 6 Brands';

            .serviciosFig {
                margin: 25px auto;
            }
        }
    }

}



a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

p {
    color: black;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;

}

figcaption {
    color: black;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;

}

.figcaptionStyle {
    color: black;

}

.comidasDestacadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imgComidas {
    margin: 20px;
    width: 60%;
    text-align: center;
}

.imgComidas img {
    width: 70%;
    box-shadow: 4px 2px 3px white;
}


/* ------------------------ Otra Sección ------------------------ */

#dataExperiencia {
    height: auto;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}




#experiencias {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}


.parrafoNosotros {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    font-size: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.listaEventos {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    list-style-type: circle;

}

.figcaptionCarta {
    font-family: serif;
    font-style: italic;
    font-size: 35px;
    margin-top: 30px;
    font-style: italic;
}

/* ------------------------ Footer ------------------------ */


/*Declarar areas*/


header {
    grid-area: header;
}

section#galeria {
    grid-area: galeria;
}

main {
    grid-area: main;
    text-align: center;
}

aside {
    grid-area: aside;
    background-color: rgb(250, 181, 204);


}

footer {
    grid-area: footer;
}

#grilla {
    width: 100%;
    height: 200vh;
    display: grid;
    grid-template-areas:
        "header"
        "galeria"
        "main"
        "aside"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 240px 1fr 1fr 1fr 100px;
}

#formularioContainer {
    width: 70%;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}



/*MOBILE - TABLET*/

@media (min-width: 768px) {

    #grilla {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas:
            "header header"
            "galeria galeria"
            "main aside"
            "footer footer";
        grid-template-columns: 70% auto;
        grid-template-rows: 120px 2fr 1fr 100px;
    }

    /* ------------------------ Header ------------------------ */

    header {
        height: 120px;
        flex-direction: row;

        nav {
            width: 49%;

            ul {
                flex-direction: row;
                justify-content: space-around;
            }
        }

    }

    #logoHeader {
        width: 49%;
    }

    #imgLogo {
        width: 35%;
    }

    /* ------------------------ Main ------------------------ */

    #dataMaison {
        text-align: center;

    }

    #textImg {
        font-style: italic;
        font-size: 20px;
    }

    #imgDataMaison {
        width: 100%;
        height: auto;
        box-shadow: 4px 2px 3px black;
    }



    #menu {
        width: 65%;
        margin-top: 30px;
        border: 2px solid black;
        box-shadow: 4px 2px 3px grey;
    }


    #menuDeldia {
        color: black;
        font-weight: bold;
        margin-top: 20px;
    }


    a {
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

    p {
        color: black;
        text-align: center;
        margin-top: 15px;
        font-weight: bold;

    }

    figcaption {

        color: black;
        text-align: center;
        margin-top: 15px;
        font-weight: bold;

    }

    .figcaptionStyle {
        color: black;
    }

    .comidasDestacadas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .imgComidas {
        margin: 20px;
        width: 70%;
        text-align: center;
        text-align: center;
    }

    .imgComidas img {
        width: 100%;
        box-shadow: 4px 2px 3px white;
    }

    /* ------------------------ Otra Sección ------------------------ */

    #dataExperiencia {
        height: auto;
        width: 100%;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
    }

    main {
        #servicios {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;

            .imgExperiencias {
                text-align: center;
                font-family: 'Font Awesome 6 Brands';

                .serviciosFig {
                    margin: 25px auto;
                }
            }
        }
    }


    #experiencias {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }



    #imgenCarta {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 70%;
    }


    /* ------------------------ Footer ------------------------ */

}


/*DESKTOP*/

/* ------------------------ Generales ------------------------ */

@media (min-width: 1024px) {


    /* ------------------------ Header ------------------------ */

    header {
        nav {
            ul {
                justify-content: space-between;
            }

        }
    }

    #logoHeader {
        width: 49%;
    }

    /* ------------------------ Main ------------------------ */

    .container {
        margin-top: 30px;
    }

    #dataMaison {
        text-align: center;
    }

    #textImg {
        font-style: italic;
        font-size: 20px;
    }

    #imgDataMaison {
        width: 100%;
        height: auto;
        box-shadow: 4px 2px 3px black;
    }



    #menu {
        width: 350px;
        margin-top: 30px;
        border: 2px solid black;
        box-shadow: 4px 2px 3px grey;


    }


    #menuDeldia {
        color: black;
        font-weight: bold;
        margin-top: 20px;
    }


    a {
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

    p {
        color: black;
        text-align: center;
        margin-top: 15px;
        font-weight: bold;

    }

    figcaption {

        color: black;
        text-align: center;
        margin-top: 15px;
        font-weight: bold;

    }

    .figcaptionStyle {
        color: black;
    }

    .comidasDestacadas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .imgComidas {
        margin: 20px;
        width: 200px;
        text-align: center;
    }

    .imgComidas img {
        width: 200px;
    }

    #eventos {
        width: 100%;
        height: auto;
        box-shadow: 4px 2px 3px black;

    }

    .parrafoEventos {
        text-align: center;
        margin-top: 15px;
        font-weight: bold;
        font-family: serif;
        font-style: italic;
        font-size: 25px;
    }

    .listaEventos {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
        list-style-type: circle;

    }


    #imagenNosotros {
        width: 100%;
        height: auto;
        box-shadow: 4px 2px 3px black;

    }

    .parrafoNosotros {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: bold;
        font-family: serif;
        font-style: italic;
        font-size: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .figcaptionCarta {
        font-family: serif;
        font-style: italic;
        font-size: 35px;
        margin-top: 30px;
        font-style: italic;
    }

    .bordeLista {

        padding: 10px;

    }




    /* ------------------------ Otra Sección ------------------------ */

    #dataExperiencia {
        height: auto;
        width: 600px;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
    }

    main {
        #servicios {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 800px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;

            .imgExperiencias {
                text-align: center;

                .serviciosFig {
                    margin: 25px auto;
                }
            }
        }
    }



    #experiencias {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }



    #imgenCarta {
        height: auto;
        box-shadow: 4px 2px 3px black;

    }

    #formularioContainer {
        width: 70%;
        margin-top: 60px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }


    /* ------------------------ Footer ------------------------ */



    /*Declarar areas*/

    #grilla {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas:
            "header header"
            "galeria galeria"
            "main aside"
            "footer footer";
        grid-template-columns: 75% auto;
        grid-template-rows: 120px 2fr 1fr 100px;
    }

    header {
        grid-area: header;
    }

    section#galeria {
        grid-area: galeria;
    }

    main {
        grid-area: main;
        text-align: center;
    }

    aside {
        grid-area: aside;
        background-color: rgb(250, 181, 204);

    }


    footer {
        grid-area: footer;
    }

}