@charset "UTF-8";
/*MOBILE - SMARTPHONE*/
/* ------------------------ Generales ------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Poppins:wght@300&family=Raleway:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #fffffd;
}

h1 {
  color: black;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 60px;
}

h2,
h3,
h4,
h5 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  font-family: serif;
  font-style: italic;
}

.parrSalon {
  font-weight: 400;
}

.accordion-body {
  font-size: 15px;
  font-weight: 100;
}

.margin50 {
  margin-top: 50px;
}

.margin100 {
  margin-top: 100px;
}

.margin150 {
  margin-top: 150px;
}

.margin200 {
  margin-top: 200px;
}

* {
  padding: 0;
  margin: 0;
}

header {
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(grey), to(white));
  background-image: linear-gradient(grey, white);
  width: 100fx;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  width: 100%;
  margin-top: 10px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0%;
}

header nav ul li {
  list-style: none;
}

header nav ul li a:hover {
  color: white;
  -webkit-transform: scale 5;
          transform: scale 5;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

#logoHeader {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    height: 120px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav {
    width: 49%;
  }
  header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #logoHeader {
    width: 49%;
  }
}

@media (min-width: 1024px) {
  header nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

* {
  padding: 0;
  margin: 0;
}

.footerContainer {
  color: black;
  font-weight: lighter;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbd5d5), to(white));
  background-image: linear-gradient(#dbd5d5, white);
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerContainer .footerTexto {
  width: 100%;
  font-size: 12px;
}

.footerContainer .footerCentral {
  width: 29%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.footerContainer .footerSocial {
  width: 100%;
  gap: 20px;
  font-size: x-large;
  text-align: center;
  margin-top: 10px;
}

.footerContainer .footerTitulos {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footerContainer .parrFsocial {
  font-size: 15px;
  font-weight: lighter;
}

.footerContainer p {
  font-weight: lighter;
}

@media (min-width: 768px) {
  .footerContainer {
    height: 230px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footerContainer .footerTexto {
    width: 33%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 15px;
    margin-bottom: 10px;
    border-right: 1px solid darkgrey;
  }
  .footerContainer .footerCentral {
    width: 33%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 15px;
    margin-bottom: 10px;
    border-right: 1px solid darkgrey;
  }
  .footerContainer .footerSocial {
    width: 33%;
  }
  .footerContainer .footerSocial .iconFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) {
  .footerContainer {
    height: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footerContainer .footerCentral {
    width: 29%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .footerContainer .footerSocial {
    gap: 20px;
    font-size: x-large;
  }
  .footerContainer .footerSocial .iconFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* ------------------------ Header ------------------------ */
#galeria {
  text-align: center;
}

#galeria #imgDataMaison {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 4px 2px 3px black;
          box-shadow: 4px 2px 3px black;
}

#imgenCarta {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
}

/* ------------------------ Main ------------------------ */
#dataMaison {
  text-align: center;
}

#textImg {
  font-style: italic;
  font-size: 20px;
}

main #menu {
  width: 60%;
  margin-top: 30px;
  border: 2px solid black;
  -webkit-box-shadow: 4px 2px 3px grey;
          box-shadow: 4px 2px 3px grey;
}

main #menuDeldia {
  color: black;
  margin-top: 20px;
  font-weight: lighter;
}

main #servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

main #servicios .imgExperiencias {
  text-align: center;
  font-family: 'Font Awesome 6 Brands';
}

main #servicios .imgExperiencias .serviciosFig {
  margin: 25px auto;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

p {
  color: black;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

figcaption {
  color: black;
  text-align: center;
  margin-top: 15px;
  font-weight: lighter;
}

.figcaptionStyle {
  color: black;
}

.comidasDestacadas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgComidas {
  margin: 20px;
  width: 60%;
  text-align: center;
}

.imgComidas img {
  width: 70%;
  -webkit-box-shadow: 4px 2px 3px #8c8c8c;
          box-shadow: 4px 2px 3px #8c8c8c;
}

/* ------------------------ Otra Sección ------------------------ */
#dataExperiencia {
  height: auto;
  width: 100%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#experiencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.parrafoNosotros {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: serif;
  font-style: italic;
  font-size: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.imgSalonesEventos {
  width: 90%;
  height: auto;
}

.parrafoEventos {
  text-align: center;
  margin-top: 50px;
  font-weight: lighter;
  font-family: serif;
  font-style: italic;
  font-size: 20px;
}

.figcaptionCarta {
  font-family: serif;
  font-style: italic;
  font-size: 35px;
  margin-top: 30px;
  font-style: italic;
}

.carousel .carousel-inner .carousel-item {
  height: 150px;
}

.carousel .carousel-inner .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 150px;
}

#boton {
  margin-bottom: 20px;
}

/* ------------------------ Footer ------------------------ */
/*Declarar areas*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  height: 280px;
}

section#galeria {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: galeria;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  text-align: center;
}

aside {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: aside;
  background-color: #f5e1c8;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

#grilla {
  width: 100%;
  height: 200vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "galeria" "main" "aside" "footer";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 280px 1fr 1fr 1fr 100px;
      grid-template-rows: 280px 1fr 1fr 1fr 100px;
}

#formularioContainer {
  width: 70%;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

/*MOBILE - TABLET*/
@media (min-width: 768px) {
  #grilla {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header" "galeria galeria" "main aside" "footer footer";
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
    -ms-grid-rows: 120px 2fr 1fr 100px;
        grid-template-rows: 120px 2fr 1fr 100px;
  }
  header {
    height: 120px;
  }
  /* ------------------------ Header ------------------------ */
  #imgLogo {
    width: 35%;
  }
  /* ------------------------ Main ------------------------ */
  #dataMaison {
    text-align: center;
  }
  #textImg {
    font-style: italic;
    font-size: 20px;
  }
  #imgDataMaison {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 4px 2px 3px black;
            box-shadow: 4px 2px 3px black;
  }
  #menu {
    width: 40%;
    margin-top: 30px;
    border: 2px solid black;
    -webkit-box-shadow: 4px 2px 3px grey;
            box-shadow: 4px 2px 3px grey;
  }
  #menuDeldia {
    color: black;
    margin-top: 20px;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
  p {
    color: black;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
  }
  .figcaptionStyle {
    color: black;
  }
  .comidasDestacadas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imgComidas {
    margin: 20px;
    width: 70%;
    text-align: center;
    text-align: center;
  }
  .imgComidas img {
    width: 100%;
    -webkit-box-shadow: 4px 2px 3px #8c8c8c;
            box-shadow: 4px 2px 3px #8c8c8c;
  }
  /* ------------------------ Otra Sección ------------------------ */
  #dataExperiencia {
    height: auto;
    width: 100%;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main #servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  main #servicios .imgExperiencias {
    text-align: center;
    font-family: 'Font Awesome 6 Brands';
  }
  main #servicios .imgExperiencias .serviciosFig {
    margin: 25px auto;
  }
  #experiencias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .parrafoEventos {
    margin-top: 100px;
    font-size: 25px;
  }
  #imgenCarta {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
  }
  .carousel .carousel-inner .carousel-item {
    height: 250px;
  }
  .carousel .carousel-inner .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 250px;
  }
  /* ------------------------ Footer ------------------------ */
}

/*DESKTOP*/
/* ------------------------ Generales ------------------------ */
@media (min-width: 1024px) {
  /* ------------------------ Header ------------------------ */
  /* ------------------------ Main ------------------------ */
  .container {
    margin-top: 30px;
  }
  #dataMaison {
    text-align: center;
  }
  #textImg {
    font-style: italic;
    font-size: 20px;
  }
  #imgDataMaison {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 4px 2px 3px black;
            box-shadow: 4px 2px 3px black;
  }
  #menu {
    width: 350px;
    margin-top: 30px;
    border: 2px solid black;
    -webkit-box-shadow: 4px 2px 3px grey;
            box-shadow: 4px 2px 3px grey;
  }
  #menuDeldia {
    color: black;
    margin-top: 20px;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
  p {
    color: black;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
  }
  .figcaptionStyle {
    color: black;
  }
  .comidasDestacadas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imgComidas {
    margin: 20px;
    width: 200px;
    text-align: center;
  }
  #eventos {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 4px 2px 3px black;
            box-shadow: 4px 2px 3px black;
  }
  .listaEventos {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    list-style-type: circle;
  }
  #imagenNosotros {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 4px 2px 3px black;
            box-shadow: 4px 2px 3px black;
  }
  .parrafoNosotros {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    font-size: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .figcaptionCarta {
    font-family: serif;
    font-style: italic;
    font-size: 35px;
    margin-top: 30px;
    font-style: italic;
  }
  .bordeLista {
    padding: 10px;
  }
  /* ------------------------ Otra Sección ------------------------ */
  #dataExperiencia {
    height: auto;
    width: 600px;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main #servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  main #servicios .imgExperiencias {
    text-align: center;
  }
  main #servicios .imgExperiencias .serviciosFig {
    margin: 25px auto;
  }
  main #menu {
    width: 40%;
  }
  #experiencias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  #imgenCarta {
    height: auto;
    -webkit-box-shadow: 4px 2px 3px black;
            box-shadow: 4px 2px 3px black;
  }
  #formularioContainer {
    width: 70%;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .carousel .carousel-inner .carousel-item {
    height: 450px;
  }
  .carousel .carousel-inner .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 450px;
  }
  /* ------------------------ Footer ------------------------ */
  /*Declarar areas*/
  #grilla {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header" "galeria galeria" "main aside" "footer footer";
    -ms-grid-columns: 75% auto;
        grid-template-columns: 75% auto;
    -ms-grid-rows: 120px 2fr 1fr 230px;
        grid-template-rows: 120px 2fr 1fr 230px;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  section#galeria {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: galeria;
  }
  main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: main;
    text-align: center;
  }
  aside {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: aside;
    background-color: #f5e1c8;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
}
/*# sourceMappingURL=style.css.map */